.fix_tel {
    left: 0;
    position: fixed;
    z-index: 99999;
}

.ring-alo-phone.ring-alo-show {
    visibility: visible;
}

.ring-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 80px;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    visibility: hidden;
    width: 80px;
    z-index: 9999999;
    right: 10px !important;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-img-circle {
    background-color: #f00;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle {
    border-color: #f00;
    opacity: 0.5;
}

.ring-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running ring-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 70px;
    left: 10px;
    opacity: 0.1;
    position: absolute;
    top: 14px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}

.ring-alo-phone {
    bottom: 45% !important;
}

.ring-alo-ph-img-circle {
    animation: 1s ease-in-out 0s normal none infinite running ring-alo-circle-img-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;
    opacity: 1;
    position: absolute;
    top: 30px;
    transform-origin: 50% 50% 0;
    width: 30px;
}

.ring-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running ring-alo-circle-fill-anim;
    background-color: #000;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 30px;
    left: 30px;
    opacity: 0.1;
    position: absolute;
    top: 30px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 30px;
}

.ring-alo-phone.ring-alo-green .ring-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.5);
    opacity: 0.75;
}

.ring-alo-ph-img-circle a.wich {
    bottom: 5px !important;
}

.fix_tel a {
    text-decoration: none;
}

.ring-alo-ph-img-circle a {
    color: white;
    display: block;
    padding: 5px;
}

.tel {
    background: #007EC8 none repeat scroll 0 0 / 40px auto;
    border: 1px solid #007EC8;
    border-radius: 28px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 205px;
}

.fix_tel a {
    text-decoration: none;
}

.ring-alo-ph-img-circle a {
    color: white;
    display: block;
    padding: 5px;
}

.tel {
    background: #007EC8 none repeat scroll 0 0 / 40px auto;
    border: 1px solid #007EC8;
    border-radius: 28px;
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 205px;
}

.fix_tel a {
    text-decoration: none;
}

.fone {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    line-height: 42px;
    padding-left: 45px;
}

@keyframes ring-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes ring-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes ring-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}

#icons {
    bottom: 80px;
    left: auto;
    padding-left: 0;
    position: fixed;
    right: 15px;
    width: 50px;
    z-index: 999;
}

#icons li {
    height: 50px;
    list-style: outside none none;
    margin-bottom: 15px;
    width: 50px;
}

.selector:not(*:root) #icons li {
    height: 50px;
    list-style: outside none none;
    margin-bottom: 15px;
    width: 50px;
}

#icons {
    bottom: 100px;
    left: auto;
    padding-left: 0;
    position: fixed;
    right: 15px;
    width: 50px;
    z-index: 999;
}

#icons li {
    height: 50px;
    list-style: outside none none;
    margin-bottom: 15px;
    width: 50px;
}

#adswsc_block br {
    display: none !important;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .hide-love .post-nav {
        padding: 0 !important;
        margin: 0 !important;
    }
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

div.wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #ff0000;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
    border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
    border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
    border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
    position: relative;
}

span.wpcf7-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 100;
    border: 1px solid #ff0000;
    background: #fff;
    padding: .2em .8em;
}

span.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-display-none {
    display: none;
}

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('public/frontend/images/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
    visibility: visible;
}

div.wpcf7 div.ajax-error {
    display: none;
}

div.wpcf7 .placeheld {
    color: #888;
}

div.wpcf7 input[type="file"] {
    cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

div.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr;
}